<div class="body">
  <div class="part1">
    <div class="Logo">
      <div class="Icon">
        <img src="/Logo.png" alt="Logo" height="25px" width="25px">
      </div>
      <h2>Squizzable</h2>
    </div>
    <div class="Botones">
      <div class="B-Redirec">
        <button (click)="redireccionar('/modulos')">Módulos</button>
        <button>Progreso</button>
        <button>Ranking</button>
        <button>Cuenta</button>
      </div>
      <div class="B-Salir">
        <button>Cerrar Sesión</button>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>

