<div class="body">

  <div class="contenido">

    <div class="barra-superior" *ngIf="mostrarMenu">
      <p-menubar [model]="items">
        <ng-template pTemplate="start">
          <div class="menu-left">
            <img [src]="isDarkMode ? '/LogoWhite (1).png' : '/Group 6.png'" alt="Logo" class="logo-img" height="45px" />
            <span class="proyect">Squizzable</span>
          </div>

        </ng-template>

        <ng-template pTemplate="end">
          <div class="botones">
            <div>
              <p-button [icon]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'" [loading]="loading"
                (onClick)="toggleDarkMode()" class="boton-alter" />
            </div>
            <div>
              <p-button icon="pi pi-sign-out" [loading]="loading"
                (onClick)="logOut()" class="boton-alter"/>
            </div>
          </div>
        </ng-template>
      </p-menubar>
    </div>

  </div>

  <main class="main-content">

    <div *ngIf="mostrarMenu" class="barra-vertical">
      <p-menu [model]="vertical" />
    </div>

    <div class="contenido-router">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
