<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Squizzable | Dashboard-Usuario</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="fondo">
    <!-- Barra lateral -->
    <div class="barra_lateral">
      <h2>Squizzable</h2>
      <div class="botones">
        <div class="botones-sup">
          <button type="button">Módulos</button>
          <button type="button">Progreso</button>
          <button type="button">Ranking</button>
          <button type="button">Cuenta</button>
        </div>
        <div class="boton-inf">
          <button type="button">Salir</button>
        </div>
      </div>
    </div>

    <div class="contenido">
      <img src="/FondoSquizzable.jpg" alt="Motito" class="gato-fondo">
    </div>
  </div>
</body>

</html>
